---
import Layout from "./../layouts/Layout.astro";
import ProgressBar from "./../components/ProgressBar/ProgressBar.tsx"
import Breadcrumbs from "./../components/Breadcrumbs/Breadcrumbs.astro"
const pages = [{name: 'Incio', url: '/'}, {name: 'Pistas', url: '/clues'}]
---

<Layout title="Sorpresa 💙">
  <div>
    <Breadcrumbs currentPage="Pistas" pages={pages}/>
    <ProgressBar client:visible />
  </div>
</Layout>

<!-- <Card image={{alt: "Bandera", url: "/clues/clue_2.png"}} message="Pista 2"/>
<Card image={{alt: "Microfono", url: "/clues/clue_3.png"}} message="Pista 3"/> -->