---
import Layout from "./../layouts/Layout.astro";
import Card from "./../components/Card/Card.astro"
---

<Layout title="Sorpresa 💙">
  <div>
    <Card image={{alt: "Gafas", url: "/clues/clue_1.png"}} message="Pista 1 "/>
  </div>
</Layout>
