---
import Layout from "./../layouts/Layout.astro";
import GiftForm from "./../components/GiftForm/GiftForm.tsx"
import Breadcrumbs from "./../components/Breadcrumbs/Breadcrumbs.astro"
const pages = [{name: 'Incio', url: '/'}, {name: 'Pistas', url: '/clues'}, {name: 'Adivina', url: '/guess'}]
---

<Layout title="Sorpresa 💙">
  <div>
    <Breadcrumbs currentPage="Adivina" pages={pages}/>
    <GiftForm client:visible />
  </div>
</Layout>